<!DOCTYPE html>
<html>
<head><title><%= @movie_link[:title] %></title></head>

<body>
	<h1>Movie Name: <%= @movie_link[:title] %> </h1>
	<h4>Year of release: <%= @movie_link[:year] %> </h4>
	<p>Rating: <% @movie_link[:rating] %> </p>
	<p>Genre: <%= @movie_link[:genre] %> </p>
	<p>Studio: <%= @movie_link[:studio] %> </p>	
	<p>Synopsis: <%= @movie_link[:synopsis] %> </p>
  
	

</body>

</html>